# Supabase
SUPABASE_URL=https://modavxpcaqxmsjgoptem.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vZGF2eHBjYXF4bXNqZ29wdGVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzNzU3MDMsImV4cCI6MjA5OTk1MTcwM30.7HoErjWujVzgcl0YwOYsQhRDqPX_wv2MmtECYG4biis
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vZGF2eHBjYXF4bXNqZ29wdGVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDM3NTcwMywiZXhwIjoyMDk5OTUxNzAzfQ.9Y_gIkfKSXp5q1697YZZwpFsTYa1i4nsjlOjr8NFHCk

# Server
PORT=3001
NODE_ENV=development

# CORS
CLIENT_URL=http://localhost:3000

# Cookie
COOKIE_SECRET=generate_a_random_secret_here
